
@{
    ViewBag.Title = "ChargeBackReport";
}



<div id="container1" style="width: 910px; height: 400px; margin: 0 auto"></div>

<script src="~/Scripts/HighCharts/annotations.js"></script>
<script src="~/Scripts/HighCharts/Highcharts.js"></script>
<script src="~/Scripts/HighCharts/exporting.js"></script>
<script>
        $(document).ready(function () {


    Highcharts.chart('container1', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Trend Analysis Based on Item'
        },

        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total Number of Items'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} Count</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
       series: [{
        name: 'Science',
        data: @Html.Raw(ViewBag.datapoints2)

    }	, {
        name: 'Commerce',
        data: @Html.Raw(ViewBag.datapoints3)

    }, {
        name: 'Computer Science',
        data: @Html.Raw(ViewBag.datapoints4)

    }, {
        name: 'English',
        data: @Html.Raw(ViewBag.datapoints5)

    }, {
        name: 'Registra',
        data: @Html.Raw(ViewBag.datapoints6)

    }, {
        name: 'Zoology',
        data: @Html.Raw(ViewBag.datapoints7)

    }]

            });
        });
</script>

