@{ var dept = ViewBag.Department; }
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h2>Collection Point</h2>
    <ul>
        <li>
            <a href="Show/@ViewBag.DeptList.DepartmentID">
                @ViewBag.DeptList.CollectionPoint
            </a>
        </li>

    </ul>*@
<div class="col-xs-9 column">
    <form action="saveNewCollectionPoint" class="rep-form">

        <label>Current Collection Point: </label>
        <a href="Show/@ViewBag.DeptList.DepartmentID">
            @ViewBag.DeptList.CollectionPoint
        </a>

</div>
<br />
<br />
<label>New Collection Point: </label>
<form action="saveNewCollectionPoint">
    <br />
    @Html.RadioButton("CollectionPoint", "Stationary Store - Administration Building")<span>Stationary Store - Administration Building</span> <br />
    @Html.RadioButton("CollectionPoint", "Management School")<span>Management School</span><br />
    @Html.RadioButton("CollectionPoint", "Medical School")<span>Medical School</span><br />
    @Html.RadioButton("CollectionPoint", "Engineering School")<span>Engineering School</span><br />
    @Html.RadioButton("CollectionPoint", "Science School")<span>Science School</span><br />
    @Html.RadioButton("CollectionPoint", "University Hospital")<span>University Hospital</span><br />
    <br />
    <button type="submit" class="btn btn-primary" button id="myBtn">Submit</button>
</form>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>
<body>



    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>

    </div>

    <script>
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            //btn.onClick = function () {
            //    modal.style.display = "block";
            //}

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
        }
        window.onload = function () {
            myFunction('myModal');
        };
    </script>
    

</body>
</html>
